{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>My name is Lenar</h1>
            <span class="subheading">and I'm a Python developer.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h4>My backstory</h4>
        <p>I have always been interested in how websites are created. I always wanted to impress my friends by writing programs, I managed to do this using the Telegram bot in a friendly chat. When I did this, the reverse side of the code struck me. Shortly thereafter, I signed up for a Python programming course at It-Academy. From that moment I fell in love with development. Until fall 2020, I mostly dabbled with Python, around October I started learning web development. The Django framework was opened shortly thereafter, and since then my love for development has skyrocketed. I am currently participating in 100 Days of Code - The Complete Python Pro Bootcamp for 2021.</p>
        <h4>So what's next?</h4>
        <p>At the time of this writing of this initial Gist, my goal was to get a job as a Python developer and start developing commercial Python applications, as well as develop a better understanding of Python, and develop a full stack. Although this is a big goal, I am willing to make every effort to achieve this goal.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}