{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>My name is Lenar</h1>
            <span class="subheading">and I'm a Python developer.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <img src="https://github.com/lenargasimov.png" class="rounded mx-auto d-block rounded-circle" alt="" width="40%">
        <p>Hi! I'm a Python developer. You can read about my projects and find more context for many of the repositories
          hosted here my personal blog, so please keep a look out for new and exciting things.
          Please let me know if you have any ideas!</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}